<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="./styles.css">
</head>
<body>
    <div class="navigation">
        <h3>Message Board</h3>
        <nav>
            <a href="/create"><button>Create</button></a>
            <a href="/about"><button>About</button></a>
        </nav>
    </div>

    <div class="blogs">
        
    </div>
</body>
</html>